    <footer class="is-flex is-justify-content-center is-align-items-center my-5">
        <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center is-flex-grow-3">
            <img src="{{ site.baseurl }}/assets/images/logoIA.png" height="200" width="170">
            <div class="is-flex is-flex-direction-row is-justify-content-center is-align-items-center">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
        </div>
        <div class="is-flex is-flex-direction-column is-align-items-start is-flex-grow-1">
            <div class="is-flex is-flex-direction-row is-justify-content-center is-align-items-start">
                <i class="fa-brands fa-whatsapp" style="font-size: 20pt;"></i>
                <div>
                    <h2 class="has-text-black has-text-weight-bold">Whatsapp</h2>
                    <h3 class="has-text-black has-text-weight-medium">(xx)xxxxx-xxxx</h3>
                </div>
            </div>
            <hr style="background-color: black; width: 170px; margin: 5px;">
            <div class="is-flex is-flex-direction-row is-justify-content-start is-align-items-start">
                <i class="fa-solid fa-envelope" style="font-size: 20pt;"></i>
                <div>
                    
                    <h2 class="has-text-black has-text-weight-bold">Email</h2>
                    <h3 class="has-text-black has-text-weight-bold">doua@gmail.com</h3>
                </div>
            </div>
        </div>

        <div class="is-flex is-flex-direction-column is-flex-grow-4">
            <h3 class="has-text-weight-bold is-size-6">Av. Armando Fajardo, 1083 / 2085 - Conselheiro Lafaiete - Minas Gerais</h3>
            <h4 class="has-text-weight-light is-size-7">Site by: Emerson J. S. Costa - GitHub - Whatsapp</h4>
        </div>
    </footer>
   </body>
</html>


<style type="text/css">

    footer{
        /* background-color: aqua; */
        height: 200px;
        width: 100%;
    }
    i{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18pt;
    }
</style>